@import "./utils/normalize.css";

$lt-blue: #8ebacd;
$dark-grey: #0f0f0f;
$green: #476827;
$primary-bg: $lt-blue;
$primary-font: $dark-grey;
$button-bg: $green;
$button-color: white;

body {
    background: $primary-bg;
    color: $primary-font;
}

button {
    background: $button-bg;
    color: $button-color;
    border: none;
    border-radius: 5px;
    padding: 15px;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        border: solid $primary-font;
    }
}

.hidden {
    display: none;
}

*:focus {
    outline: 4px dotted $primary-font;
    outline-offset: 2px;
}
